<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Install.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Install.App.Properties.Settings>
            <setting name="IpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxDiskSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Cpu" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Ram" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="NetworkInterface" serializeAs="String">
                <value />
            </setting>
            <setting name="DataDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Gateway" serializeAs="String">
                <value />
            </setting>
            <setting name="IpPublicAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="UseIpPublic" serializeAs="String">
                <value>False</value>
            </setting>
        </Install.App.Properties.Settings>
    </userSettings>
</configuration>